FlowsModelInNodeRed.json
[
    {
        "id": "tab_invernadero",
        "type": "tab",
        "label": "Invernadero IoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "group_sensores",
        "type": "ui_group",
        "name": "Sensores",
        "tab": "ui_tab_home",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "group_control",
        "type": "ui_group",
        "name": "Control",
        "tab": "ui_tab_home",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_tab_home",
        "type": "ui_tab",
        "name": "Dashboard Invernadero",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "mqtt_in_sensores",
        "type": "mqtt in",
        "z": "tab_invernadero",
        "name": "Sensores In",
        "topic": "invernadero/nodo1/sensores",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 100,
        "wires": [["gauge_temp", "gauge_hum", "gauge_luz", "gauge_agua"]]
    },
    {
        "id": "gauge_temp",
        "type": "ui_gauge",
        "z": "tab_invernadero",
        "name": "Temperatura",
        "group": "group_sensores",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{msg.payload.temperatura}}",
        "min": 0,
        "max": 50,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 60,
        "wires": []
    },
    {
        "id": "gauge_hum",
        "type": "ui_gauge",
        "z": "tab_invernadero",
        "name": "Humedad",
        "group": "group_sensores",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{msg.payload.humedad}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "x": 400,
        "y": 100,
        "wires": []
    },
    {
        "id": "gauge_luz",
        "type": "ui_gauge",
        "z": "tab_invernadero",
        "name": "Luz",
        "group": "group_sensores",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luz",
        "label": "%",
        "format": "{{msg.payload.luz}}",
        "min": 0,
        "max": 100,
        "colors": ["#000000", "#e6e600", "#ca3838"],
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "gauge_agua",
        "type": "ui_gauge",
        "z": "tab_invernadero",
        "name": "Nivel Agua",
        "group": "group_sensores",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Nivel Agua",
        "label": "%",
        "format": "{{msg.payload.nivel_agua}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "mqtt_out_comando",
        "type": "mqtt out",
        "z": "tab_invernadero",
        "name": "Enviar Comando",
        "topic": "invernadero/nodo1/comando",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "btn_auto",
        "type": "ui_button",
        "z": "tab_invernadero",
        "name": "Modo AUTO",
        "group": "group_control",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MODO AUTO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"modo\":\"AUTO\"}",
        "payloadType": "json",
        "topic": "invernadero/nodo1/comando",
        "x": 150,
        "y": 260,
        "wires": [["mqtt_out_comando"]]
    },
    {
        "id": "btn_eco",
        "type": "ui_button",
        "z": "tab_invernadero",
        "name": "Modo ECO",
        "group": "group_control",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MODO ECO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"modo\":\"ECO\"}",
        "payloadType": "json",
        "topic": "invernadero/nodo1/comando",
        "x": 150,
        "y": 300,
        "wires": [["mqtt_out_comando"]]
    },
    {
        "id": "btn_manual",
        "type": "ui_button",
        "z": "tab_invernadero",
        "name": "Modo MANUAL",
        "group": "group_control",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MODO MANUAL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"modo\":\"MANUAL\"}",
        "payloadType": "json",
        "topic": "invernadero/nodo1/comando",
        "x": 150,
        "y": 340,
        "wires": [["mqtt_out_comando"]]
    },
    {
        "id": "mqtt_in_estado",
        "type": "mqtt in",
        "z": "tab_invernadero",
        "name": "Estado In",
        "topic": "invernadero/nodo1/estado",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 400,
        "wires": [["text_modo"]]
    },
    {
        "id": "text_modo",
        "type": "ui_text",
        "z": "tab_invernadero",
        "group": "group_control",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Modo Actual",
        "label": "Modo Actual:",
        "format": "{{msg.payload.modo}}",
        "layout": "row-spread",
        "x": 400,
        "y": 400,
        "wires": []
    }
]